#searchcontainer{
  text-align: center;
  margin-top: 280px;
}
#formcaption{
  display: inline-block;
  font-family: Consolas;
  margin-left: auto;
  margin-right: auto;
}
#searchform{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
#searchinput{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
