@main("Search results", false, null) {
<div class="entity-page main">
    <div class="row item-detail col-md-2">
        <div class="name fields">
            <h1>
                Elon Musk
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="span9">

            <div class="name fields">
                <h1>
                    Elon Musk
                </h1>
            </div>
            <div class="profession-dates">
                <div class="profession">
                    <span>Entrepreneur</span>
                </div>

                <div class="dates fields">
                    <div>
                        Born: 1971,
                        <span>Pretoria, Transvaal, South Africa.</span>
                    </div>
                </div>
                <div>
                    Estimated Net Worth (2016) :
                    <span>US$12.7 billion.</span>
                </div>
            </div>


            <hr>

            <div class="works rolefacet">
                <div class="row">
                    <div class="span5">
                        <h3>Known for:</h3>
                        <ol class="unstyled">
                            <li class="theme">
                                <i class="icon-theme"></i>
                                <span>Founder, CEO and CTO of SpaceX</span><br>
                            </li>
                            <li class="theme">
                                <i class="icon-theme"></i>
                                <span>CEO and product architect of Tesla Motors</span><br>
                            </li>
                            <li class="theme">
                                <i class="icon-theme"></i>
                                <span>Co-founder and Chairman of SolarCity</span><br>
                            </li>
                            <li class="theme">
                                <i class="icon-theme"></i>
                                <span> Co-founder of PayPal</span><br>
                            </li>

                        </ol>
                    </div>
                    <div class="works rolefacet" id="graph">

                    </div>
                </div>

            </div>


        </div>
        <div class="span3">
            <div class="thumb">
                <hr>
                <div class="thumbinner">
                        <!-- TODO: refactor to use figure element -->
                    <a href="https://commons.wikimedia.org/wiki/File:Elon_Musk_2015.jpg" class="wiki-link no-external-link-icon" target="_blank">
                        <img alt="" src="https://upload.wikimedia.org/wikipedia/commons/4/49/Elon_Musk_2015.jpg" class="thumbimage">
                    </a>
                    <div class="thumbcaption">
                        Elon Musk
                        <br> Source: <a href="https://commons.wikimedia.org/wiki/File:Elon_Musk_2015.jpg" class="wiki-link no-external-link-icon"
                    target="_blank">Wikimedia Commons</a>
                    </div>
                    <div class="thumblicense">
                        Information regarding the license status of embedded media files (e.g., images or videos) may be retrieved by clicking the
                        respective file.
                    </div>
                </div>
            </div>
            <hr>



            <div>
                <hr>
                <h3>External links:</h3>
                <ul style="list-style: none;padding: 0;margin: 0;">

                    <li>
                        <a href="https://de.wikipedia.org/wiki/Elon_Musk" rel="external" target="_blank">

                            <i><img src="https://de.wikipedia.org/static/favicon/wikipedia.ico" alt="dewiki" style="width:25px;height:25px"></i>

                            <span>Wikipedia (Deutsch)</span>
                        </a>
                    </li>


                    <li>
                        <a href="https://en.wikipedia.org/wiki/Elon_Musk" rel="external" target="_blank">

                            <i><img src="https://en.wikipedia.org/static/favicon/wikipedia.ico" alt="enwiki" style="width:25px;height:25px"></i>

                            <span>Wikipedia (English)</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
}
