@(title: String, addHeader: Boolean, scripts: Html)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>

        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/results.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/graph.css")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/font-awesome.min.css"))'>
    </head>
    <body data-context="@play.Play.application().configuration().getString("play.http.context")">
        <noscript>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 warning">
                        <span>Warning Non Javascript</span>
                    </div>
                </div>
            </div>
        </noscript>

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("JSXTransformer.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.fullPath("react", "react.js"))'></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
        @if(addHeader) {
            <header class="hidden-phone">
                <h1 class="invisible-but-readable">ddbnext.Heading_Header</h1>
            </header>
        }

        <div id="main-container" class="container" role="main">
            @content
        </div>

        @scripts

    </body>
</html>
