@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>

        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/results.css")">

    </head>
    <body>
        <noscript>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 warning">
                        <span>Warning Non Javascript</span>
                    </div>
                </div>
            </div>
        </noscript>

        <header class="hidden-phone">
            <h1 class="invisible-but-readable">ddbnext.Heading_Header</h1>
            <div class="container">
                <div class="row" id="header-main-row">
                    <nav class="widget col-md-12" data-widget="NavigationWidget">
                        <div class="row">
                            <div class="col-md-7"></div>
                            <div class="col-md-5 toolbar">
                                <div class="status-bar">
                                    <div class="language-wrapper">
                                        <a href="#">English</a>
                                        <div class="arrow-container">
                                            <div class="arrow-up"></div>
                                        </div>
                                        <ul class="selector language">
                                            <li><a href="/fuhsen/?lang=de" >Deutsch</a></li>
                                            <li class="selected-language"><a class="nopointer">English</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>



        <div id="main-container" class="container" role="main">
            @content
        </div>


        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.fullPath("react", "react.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("JSXTransformer.js"))'></script>

        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/app.js")'></script>
    </body>
</html>
