@(message: String)

@main("Search init (Token retrieval test page)") {
    @message

    <form action="@controllers.de.fuhsen.wrappers.security.routes.TokenRetrievalController.getToken("Facebook")" method="get">
        <button>Retrieve FB Access token</button>
    </form>

   @* <form action="@controllers.de.fuhsen.wrappers.routes.FacebookWrapper.search()" method="POST">
        <input type="text" id="search_id" name="search_name" value="Enter the keywords here">
        <button>Search</button>
    </form>*@
}
